*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la barra del menú.*/
.menuBarra{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(4);
    cursor: pointer;
}

/* Estilos para las barras individuales dentro del menú.*/
.menuBarra span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 6px;
    transition: all 600ms;
    transform-origin: 0px 100%;
}

/* Estilos para la animación de la primera fila del menú.*/
.fila1Animacion{
    transform: rotate(45deg)translate(-2px,1px);
}

/* Estilos para la animación de la tercera fila del menú.*/
.fila3Animacion{
    transform: rotate(-45deg)translate(-4px,2px);
}

/*Estilos para la animación de la segunda fila del menú*/
.fila2Animacion{
    opacity: 0;
    margin-left: -35px;
}
